body {
    background-color:rgb(160, 160, 150);
}
h1 {
    color:blue;
    font-family: verdana;
    font-size: 300%;
}
p {
    border: 2px solid powderblue;
    padding: 20px;
    color:beige;
    font-family: courier;
    font-size: 160%;
    
}
p2 {
    background-image: url('1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color:beige;
}
/* table, th, td {
    border: 1px solid black;
} */